.defaultNode {
  height: 35px !important;
  width: 100px !important;
  border: 1px solid #ccc;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  cursor: move;
  font-size: 12px;
}

.diamondNode {
  height: 60px;
  width: 95px;
  margin-bottom: 15px;
  margin-left: 18px;
  cursor: move;
  background: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.scenes {
  width: 100%;
  display: flex;
  flex: 1 1;
  padding: 15px;
  box-sizing: border-box;
}

.flow-title {
  font-size: 11px;
  font-weight: 600;
}

.grey {
  background: #cccccc;
}

.saffron {
  background: #f46230;
}

.green {
  background: #228b22;
}

.yellow {
  background: #ffff00;
}

.orange {
  background: #ffa500;
}

.pink {
  background: #ffc0cb;
}

.react-flow .defaultNode {
  margin: 0px;
  height: 18px;
  width: 88px;
}

.react-flow .diamondNode {
  margin-left: 0px;
}
