.defaultNode {
  height: 35px;
  width: 100px;
  border: 1px solid #ccc;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  cursor: move;
}

.diamondNode {
  background: #fff;
  height: 60px;
  transform: rotate(45deg);
  width: 60px;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: move;
}

.scenes {
  width: 100%;
  display: flex;
  flex: 1 1;
  padding: 15px;
  box-sizing: border-box;
}

.flow-title {
  font-size: 11px;
  font-weight: 600;
}

.grey {
  background: #cccccc;
}

.saffron {
  background: #f46230;
}

.green {
  background: #228b22;
}

.yellow {
  background: #ffff00;
}

.orange {
  background: #ffa500;
}

.pink {
  background: #ffc0cb;
}
